node_modules/
dist/
.env

*/node_modules/
*/client/node_modules/
*/server/node_modules/

*.db
database.db
*/database.db
*/server/database.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode/
